.ChatBox {
  padding: 0px 10px;
  height: 100%;
  border: 1px solid #ebebeb;
  position: relative;
}

.MessagesContainer {
  position: absolute;
  bottom: 31px;
  overflow-y: scroll;
  top: 0px;
  left: 0px;
  width: 100%;
  background: #fbfbfb;
}